.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 10vh;
  line-height: 10vh;
  align-items: center;

  a {
    text-decoration: none;
    display: block;
    color: #fff;
    height: 100%;
  }

  &LogoContainer {
    max-height: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding-left: 3rem;

    h2 {
      padding-left: 1.5rem;
    }

    .navLogoImg {
      height: 70%;
      border-radius: 50%;
    }

    &Logo {
    }
  }

  &List {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-right: 3rem;

    &Item {
      width: 100px;
      height: 100%;
      text-align: center;
      position: relative;

      .linkOverlay {
        position: absolute;
        bottom: 0;
        max-height: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(237, 26, 36, 0.8);
        display: block;
        transition: max-height 0.3s ease-in-out;
      }

      &:hover {
        .linkOverlay {
          max-height: 100%;
          transition: max-height 0.3s ease-in-out;
        }

        .navLink {
        }
      }

      .navLink {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
