.searchForm {
  display: flex;
  border: none;
  outline: none;
  height: 75%;
  width: 100%;

  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .searchText {
    flex: 3;
    font-size: 2rem;
    background: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    outline: none;
    caret-color: #fff;
    color: #fff;
  }

  .submitBtn {
    flex: 1 0;
    background: transparent;
    border: 1px rgba(237, 26, 36, 0.8) solid;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
    outline: none;
    width: 150px;
    max-width: 150px;
    transform: scale(1);
    transition: transform 100ms;

    &:hover {
      border: 1px solid #000;
      background: rgba(237, 26, 36, 0.8);
    }

    &:active {
      transform: scale(0.9);
      transition: transform 100ms;
    }
  }
}
