.pokeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 1rem;
  margin-top: 5vh;
  margin-right: -120px;
  padding-right: 120px;

  list-style: none;
  overflow-y: scroll;
  height: 100%;

  /***********************/
  // scroll bar hide for chrome, firefox, IE 10+
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  /***********************/
}
